[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
soffit = {git = "https://github.com/mgritter/soffit", ref = "v0.0.6", editable = true}
matplotlib = "*"
pygraphviz = "*"

[dev-packages]
